<%= form_for @user, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", placeholder: "ex: João" %>
    </div>
    <div class="col-md-4">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name, class: "form-control", placeholder: "ex: Silva" %>
    </div>
    <div class="form-inline col-md-4">
      <%= f.label :birth_date %><br>
      <%= f.date_select :birth_date, {start_year: Date.today.year - 100, end_year: Date.today.year, order: [:day, :month, :year]}, {class: "form-control"}%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: "form-control", placeholder: "ex: joao@gmail.com" %>
    </div>
    <div class="col-md-4">
      <%= f.label :fone %><br>
      <%= f.text_field :fone, class: "form-control", placeholder: "ex: 9 9999 9999" %>
    </div>
    <div class="col-md-4">
      <%= f.label :cell_phone %><br>
      <%= f.text_field :cell_phone, class: "form-control", placeholder: "ex: 9 9999 9999" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <%= f.label :street %><br>
      <%= f.text_field :street, class: "form-control", placeholder: "ex: João de Deus" %>
    </div>
    <div class="col-md-2">
      <%= f.label :neighborhood %><br>
      <%= f.text_field :neighborhood, class: "form-control", placeholder: "ex: Bancarios" %>
    </div>
    <div class="col-md-2">
      <%= f.label :city %><br>
      <%= f.text_field :city, class: "form-control", placeholder: "ex: João Pessoa" %>
    </div>
    <div class="col-md-2">
      <%= f.label :state %><br>
      <%= f.text_field :state, class: "form-control", placeholder: "ex: Paraíba" %>
    </div>
    <div class="col-md-2">
      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code, class: "form-control", placeholder: "ex: 58055 000" %>
    </div>
    
  </div>

   <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>

      <%= f.submit 'Create User', class: "btn btn-primary" %>
<% end %>
